In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../data/Iowa_Liquor_Sales_dirty.csv",low_memory=False)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [5]:
df['State']= 'Iowa'

In [6]:
df.columns = [x.replace(' ', '') for x in df.columns]
df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)', 'State'],
      dtype='object')

In [7]:
# Find the columns where every value is null
empty_cols = [col for col in df.columns if df[col].isnull().all()]
empty_cols

[]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12591077 entries, 0 to 12591076
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   Invoice/ItemNumber   object
 1   Date                 object
 2   StoreNumber          int64
 3   StoreName            object
 4   Address              object
 5   City                 object
 6   ZipCode              object
 7   StoreLocation        object
 8   CountyNumber         float64
 9   County               object
 10  Category             float64
 11  CategoryName         object
 12  VendorNumber         float64
 13  VendorName           object
 14  ItemNumber           int64
 15  ItemDescription      object
 16  Pack                 int64
 17  BottleVolume(ml)     int64
 18  StateBottleCost      object
 19  StateBottleRetail    object
 20  BottlesSold          int64
 21  Sale(Dollars)        object
 22  VolumeSold(Liters)   float64
 23  VolumeSold(Gallons)  float64
 24  State                object
dtypes: float64(5), int64(5), object(15)
memory usage: 2.3+ GB

In [9]:
df.head(2)

,Invoice/ItemNumber,Date,StoreNumber,StoreName,Address,City,ZipCode,StoreLocation,CountyNumber,County,...,ItemDescription,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters),VolumeSold(Gallons),State
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.5,1.19,Iowa
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.0,2.38,Iowa

In [10]:
df.drop(columns=['StoreLocation'], inplace=True)

In [11]:
df.drop(columns=['VolumeSold(Gallons)'], inplace=True)

In [12]:
df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'CountyNumber', 'County', 'Category', 'CategoryName',
       'VendorNumber', 'VendorName', 'ItemNumber', 'ItemDescription', 'Pack',
       'BottleVolume(ml)', 'StateBottleCost', 'StateBottleRetail',
       'BottlesSold', 'Sale(Dollars)', 'VolumeSold(Liters)', 'State'],
      dtype='object')

In [13]:
df.rename(columns={'Invoice/ItemNumber': 'Invoice'}, inplace=True)
df.rename(columns={'StateBottleCost': 'BottleCost'}, inplace=True)
df.rename(columns={'StateBottleRetail': 'BottleRetail'}, inplace=True)
df.rename(columns={'Sale(Dollars)': 'SaleDollars'}, inplace=True)
df.rename(columns={'VolumeSold(Liters)': 'VolumeSoldLiters'}, inplace=True)
df.rename(columns={'BottleVolume(ml)': 'BottleVolumeML'}, inplace=True)
df.columns

Index(['Invoice', 'Date', 'StoreNumber', 'StoreName', 'Address', 'City',
       'ZipCode', 'CountyNumber', 'County', 'Category', 'CategoryName',
       'VendorNumber', 'VendorName', 'ItemNumber', 'ItemDescription', 'Pack',
       'BottleVolumeML', 'BottleCost', 'BottleRetail', 'BottlesSold',
       'SaleDollars', 'VolumeSoldLiters', 'State'],
      dtype='object')

In [14]:
null_columns = df.isnull().any()
null_columns

Invoice             False
Date                False
StoreNumber         False
StoreName           False
Address              True
City                 True
ZipCode              True
CountyNumber         True
County               True
Category             True
CategoryName         True
VendorNumber         True
VendorName           True
ItemNumber          False
ItemDescription     False
Pack                False
BottleVolumeML      False
BottleCost           True
BottleRetail         True
BottlesSold         False
SaleDollars          True
VolumeSoldLiters    False
State               False
dtype: bool

In [15]:
df_without_nulls = df.dropna()

In [16]:
df_without_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12495974 entries, 6 to 12591076
Data columns (total 23 columns):
 #   Column            Dtype
---  ------            -----
 0   Invoice           object
 1   Date              object
 2   StoreNumber       int64
 3   StoreName         object
 4   Address           object
 5   City              object
 6   ZipCode           object
 7   CountyNumber      float64
 8   County            object
 9   Category          float64
 10  CategoryName      object
 11  VendorNumber      float64
 12  VendorName        object
 13  ItemNumber        int64
 14  ItemDescription   object
 15  Pack              int64
 16  BottleVolumeML    int64
 17  BottleCost        object
 18  BottleRetail      object
 19  BottlesSold       int64
 20  SaleDollars       object
 21  VolumeSoldLiters  float64
 22  State             object
dtypes: float64(4), int64(5), object(14)
memory usage: 2.2+ GB

In [17]:
employeeID = ["20001","20002","20003","20004","20005","20006","20007","20008"]
df_without_nulls["EmployeeID"] = np.random.choice(employeeID, size=len(df_without_nulls))

/tmp/ipykernel_965759/2922440719.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_without_nulls["EmployeeID"] = np.random.choice(employeeID, size=len(df_without_nulls))

In [18]:
df2 = df_without_nulls.copy()
df2['Date'] = pd.to_datetime(df2['Date'])
df_sorted = df2.sort_values(by='Date',kind='mergesort')

In [19]:
min_date = df_sorted['Date'].min()
max_date = df_sorted['Date'].max()

print("Date Range:")
print("From:", min_date)
print("To:", max_date)

Date Range:
From: 2012-01-03 00:00:00
To: 2017-10-31 00:00:00

In [20]:
df_sorted.head()

,Invoice,Date,StoreNumber,StoreName,Address,City,ZipCode,CountyNumber,County,Category,...,ItemDescription,Pack,BottleVolumeML,BottleCost,BottleRetail,BottlesSold,SaleDollars,VolumeSoldLiters,State,EmployeeID
275,S03409700120,2012-01-03,2534,Hy-Vee Drugtown / Urbandale,8601 DOUGLAS,URBANDALE,50322,77.0,Polk,1022100.0,...,Sauza Gold,12,750,$8.40,$12.59,4,$50.36,3.00,Iowa,20006
741,S03395700029,2012-01-03,3480,C's Spencer Liquor,719 2ND AVE W PO BOX 401,SPENCER,51301,21.0,Clay,1031200.0,...,Uv Blue (raspberry) Vodka,12,1000,$7.25,$10.87,3,$32.61,3.00,Iowa,20001
1655,S03395800163,2012-01-03,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,23.0,Clinton,1022100.0,...,Jose Cuervo Especial Reposado Flask,24,375,$5.49,$8.24,3,$24.72,1.12,Iowa,20001
1782,S03411000130,2012-01-03,2625,Hy-Vee Wine and Spirits #2,3301 W KIMBERLY RD,DAVENPORT,52804,82.0,Scott,1031200.0,...,Smirnoff Cranberry Vodka,12,750,$7.59,$11.56,2,$23.12,1.50,Iowa,20007
1801,S03412100043,2012-01-03,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 DEVILS GLEN ROAD,BETTENDORF,52722,82.0,Scott,1031080.0,...,Skol Vodka Traveler,12,750,$3.64,$5.45,12,$65.40,9.00,Iowa,20006

In [21]:
df_sorted.tail()

,Invoice,Date,StoreNumber,StoreName,Address,City,ZipCode,CountyNumber,County,Category,...,ItemDescription,Pack,BottleVolumeML,BottleCost,BottleRetail,BottlesSold,SaleDollars,VolumeSoldLiters,State,EmployeeID
12591072,INV-08368000074,2017-10-31,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71.0,OBRIEN,1071100.0,...,FrappaChata Iced Coffee Blend,12,800,$8.00,$12.00,3,$12.00,2.4,Iowa,20008
12591073,INV-08368000075,2017-10-31,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71.0,OBRIEN,1011200.0,...,Old Forester Statesman,6,750,$27.48,$41.22,2,$41.22,1.5,Iowa,20006
12591074,INV-08368000076,2017-10-31,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71.0,OBRIEN,1011500.0,...,Old Forester 1897 Whisky Row Series,6,750,$24.98,$37.47,2,$37.47,1.5,Iowa,20001
12591075,INV-08368000077,2017-10-31,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71.0,OBRIEN,1011200.0,...,Old Forester 1870 Whisky Row Series,6,750,$22.49,$33.74,2,$33.74,1.5,Iowa,20003
12591076,INV-08368000078,2017-10-31,5423,Stammer Liquor Corp,615 2nd Ave,Sheldon,51201,71.0,OBRIEN,1091100.0,...,Sugarlands Shine Peanut Butter & Jelly Moonshine,6,750,$13.00,$19.50,2,$19.50,1.5,Iowa,20003

In [22]:
null_columns2 = df_sorted.isnull().any()
null_columns2

Invoice             False
Date                False
StoreNumber         False
StoreName           False
Address             False
City                False
ZipCode             False
CountyNumber        False
County              False
Category            False
CategoryName        False
VendorNumber        False
VendorName          False
ItemNumber          False
ItemDescription     False
Pack                False
BottleVolumeML      False
BottleCost          False
BottleRetail        False
BottlesSold         False
SaleDollars         False
VolumeSoldLiters    False
State               False
EmployeeID          False
dtype: bool

In [23]:
df_sorted.to_csv("../../data/Iowa_Liquor_Sales_clean.csv", index=False)

In [24]:
df_subset = df_sorted.head(2100000).copy()

In [25]:
min_date = df_subset['Date'].min()
max_date = df_subset['Date'].max()

print("Date Range:")
print("From:", min_date)
print("To:", max_date)

Date Range:
From: 2012-01-03 00:00:00
To: 2013-01-07 00:00:00

In [26]:
df_subset.to_csv("../../data/subset-Iowa_Liquor_Sales_clean.csv", index=False)